{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'inc/header.html' %}
</head>
<body>

    <h1>
        Carros - Django
    </h1>

    <hr>

    <div style="display: flex;flex-direction: column;margin: 0 2vw; background-color: aqua; height: 100%;">
        
        <div style="display: flex; justify-content: space-between;">

            {% for carros in cars %}
    
            <div class="cardcar">
                <div class="carname">

                    <p>
                       {{ carros }}
                   </p>

                </div>
    
                <div class="carimage">   
                    {% if carros.car_image %}
                    <img src="{{ carros.car_image.url }}"  width="100">
                    {% endif %}
                </div>
            </div>
    
            {% endfor %}

        </div>
    </div>


</body>

{% include 'inc/footer.html' %}

</html>

