{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title|default:'title'}}</title>
    {% include 'inc/header.html' %}
</head>
<body>

    <h1>
        Contato - Django
    </h1>

    <div style="display: flex;justify-content: center;">
        <div class="divimgcontato">
            <img class="imgcontato" src="{% static 'img/contato.jpg' %}" alt="Guitar"> 
        </div>
    </div>

    <div>
        <p style="text-align: center;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, quos odit? Magni atque incidunt, itaque neque provident distinctio officiis repellat molestiae ex a, facere tempore tenetur sed quae beatae cum?
        </p>
    </div>

    
</body>

{% include 'inc/footer.html' %}

</html>