{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'inc/header.html' %}
</head>
<body>

     <h1>
        Produto Único - Django
    </h1>

    <hr>

    <div style="display: flex;flex-direction: column;margin: 0 2vw;">
        <p>
            {{ produto }}
        </p>

        <hr style="width: 100%;">
        
        {% for p in produto %}
        <p>
            {{ p }}
        </p>
        {% endfor %}
    </div>


</body>

{% include 'inc/footer.html' %}

</html>